*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Fica atrás de tudo */
    opacity: 0.7; /* Transparência */
}

.background img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cobre toda a tela */
}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.conteiner{
    width: 80%;
    height: 400px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;

}


h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.botoes{
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.botoes button{
    width: 290px;
    height: 30px;
    border-radius: 10px;
    margin: 20px;
    background-color: #ffb700;
    border: 0;
    transition: 0.3s ease-in-out;
}

.botoes button:hover{
    transform: scale(1.05);
}

.botoes button {
    font-size: 20px;
}

nav {
    position: absolute;
    top: 70px;
    width: 250px;
    margin-left: 20px;
    display: flex;
}

nav ul li:hover {
    text-decoration: underline;
    color: white;
}

.menu {
    position: fixed;
    top: 0;
    left: -350px;
    width: 190px;
    height: 40%;
    background-color: #F14227;
    transition: left 0.5s ease;
    border-radius: 5px;
}

.menu.ativo {
    left: 0;
}

.menu ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu ul li {
    list-style-type: none;
}

.menu ul li a {
    color: white;
    text-transform: capitalize;
    margin-top: 10px;
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

.hamburguer,
.barra {
    position: fixed;
}

.hamburguer {
    display: block;
    border: none;
    background-color: #F14227;
    cursor: pointer;
}

.hamburguer.aberto #barra1 {
    background-color: white;
    transform: rotate(45deg) translate(6px, 8px);
}

.hamburguer.aberto #barra2 {
    background-color: transparent;
}

.hamburguer.aberto #barra3 {
    background-color: white;
    transform: rotate(-45deg) translate(6px, -8px);
}

.barra {
    top: 30px;
    left: 30px;
    background-color: black;
    width: 35px;
    height: 5px;
    border-radius: 50px;
    transition: all 0.3s ease;
}

#barra2 {
    top: 40px;
}

#barra3 {
    top: 50px;
}
  